<div class="container">

  <% breadcrumb :show_book_knowledge, @book, @knowledge %>

  <!-- ヘッダ部 -->
  <h6 class="mt-4">
    <i class="fas fa-user"></i> <%= @knowledge.user.name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <small class="text-muted">最終更新 : <%= @knowledge.updated_at %></small>
  </h6>
  <h1 class="my-3"><%= @knowledge.title %></h1>
  <hr>

  <!-- コンテンツ -->
  <%= @knowledge.content %>

  <!-- ページリンク -->
  <!-- TODO pageを使ったリンクを作成する -->
  <div class="col-3 float-left mt-5">
    <div class="text-center">
    </div>
  </div>

  <div class="col-3 float-right mt-5">
    <div class="text-center">
    </div>
  </div>

</div>
